# Build
_build
build

# STM32CubeMX
bsp/boards/*/cmake
bsp/boards/*/CMake*
bsp/boards/*/Core
bsp/boards/*/Drivers
bsp/boards/*/hsperfdata_root
bsp/boards/*/.mxproject
bsp/boards/*/startup_stm32*.s
bsp/boards/*/STM32*_FLASH.ld
bsp/boards/*/stm32*_flash.ld

# VS Code
.vscode/*
!.vscode/launch.json